{% extends 'base.html' %}
{% block body %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, mes in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <img src="https://scontent.fiev15-1.fna.fbcdn.net/v/t1.0-9/12140596_653798238096683_3592238997969824761_n.jpg?_nc_cat=111&_nc_oc=AQmSQRXfAWAngQf0k3V6ievu5t1-fMShLEBmD66_ABG9RnM85r2hka9cAwukZT_2q0g&_nc_ht=scontent.fiev15-1.fna&oh=81e6675b043311a0a0d24ebf1c99959b&oe=5EA0022F" alt="HireRushPlatform">
        <h3 class="text-justify">Welcome to {{name}}!</h3>
    </div>
    <div class="row">
        <div class="col-xs-6 justify-content-center">
            <a class="btn btn-success" href="{{ url_for('blog') }}">Blog</a>
        </div class="col-xs-6 justify-content-center">
        <div>
            <a class="btn btn-success" href="{{ url_for('login') }}">Login</a>
        </div>
</div>
{% endblock body %}