{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <img src="https://scontent.fiev15-1.fna.fbcdn.net/v/t1.0-9/12140596_653798238096683_3592238997969824761_n.jpg?_nc_cat=111&_nc_oc=AQmSQRXfAWAngQf0k3V6ievu5t1-fMShLEBmD66_ABG9RnM85r2hka9cAwukZT_2q0g&_nc_ht=scontent.fiev15-1.fna&oh=81e6675b043311a0a0d24ebf1c99959b&oe=5EA0022F" alt="HireRushPlatform">
        <h3 class="text-justify">Welcome to {{name}}!</h3>
    </div>
    <div class="row">
        <div class="col-xs-6 justify-content-center">
            <button class="btn btn-success" href="/blog">Blog</button>
        </div class="col-xs-6 justify-content-center">
        <div>
            <button class="btn btn-success">Login</button>
        </div>
</div>
{% endblock body %}