<!DOCTYPE html>
<html>

	<head>
        {% if title %}
            <title>HireRush.com - {{ title }}</title>
        {% else %}
            <title>HireRush - Trusted professionals for any project</title>
        {% endif %}
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>

    <body>
        <nav class="navbar navbar-light bg-light navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a class="btn btn-block" href="{{ url_for('login') }}">Leads</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-block" href="{{ url_for('login') }}">Profile</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-block" href="/blog" href="{{ url_for('blog') }}">Blog</a>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-block" href="{{ url_for('login') }}">Inbox</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock body%}
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>