{% extends 'base.html' %}
{% block body %}


        <div class="container" style="padding-top:5px;">

            <div class="row">
                <div class="col-xs-6">
                    <div>
                        <img src="{{ post.image }}" class="img-thumbnail">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div>
                        <h2>{{post.name}}</h2>
                        {% for tag in post.tags%}
                            <span class="badge badge-success">{{ tag }}</span>
                        {% endfor %}
                        <p><small>{{ post.date }}</small></p>
                        <p>{{ post.text }}</p>


                    </div>
                </div>

            </div>
        </div>



{% endblock body %}